*{padding: 0;margin: 0;}
ul,ol{list-style: none;}
a{ text-decoration: none; color: #424242;}
button{ border: none; border: 0; background: none; outline: none;}
.wrapper{width: 1200px; margin: 0 auto;}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden;
}
.clearfix {
    zoom: 1;
}
.newslist{ float: left;width:590px; margin-top: 50px; margin-bottom: 30px;}
.newslist ul li{ height: 30px; width: 100%; line-height: 30px;}
.newslist ul li a{ color: #666; float: left; width: 450px; overflow: hidden; font-size: 14px;}
.newslist ul li a:hover{ color: #333;}
.newslist ul li span{float: right; width: 120px; font-size: 12px; color: #999;}
.activelist{float: right; width: 590px; margin-top: 50px; margin-bottom: 30px;}
.title{ font-size: 18px; font-weight:bold;; color: #424242; margin-bottom: 15px; border-left: 4px solid #e4305e; padding-left: 10px; height: 20px; line-height: 20px; overflow: hidden;}
